@model YoutubePlaylistMaker.Models.UserLoginModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myLoginModalLabel">Log In</h4>
</div>
<div class="modal-body">
    <div id="loginErrorMessage"></div>
    @using (Ajax.BeginForm("LogIn", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "loginModalContainer"
    }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(u => u.Email)
        </div>
        <div>
            @Html.TextBoxFor(u => u.Email)
        </div>

        <div>
            @Html.LabelFor(u => u.Password)
        </div>
        <div>
            @Html.PasswordFor(u => u.Password)
        </div>

        <p>
            <button type="button" onclick="ajaxLogin(this)">Log In</button>
        </p>
    }
    <div id="loginModalContainer"></div>
</div>
<script>
    function ajaxLogin(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                alert("Log in error");
            },
            success: function (response) {
                if (response != false) {
                    $("#myModalLogin").modal('hide');
                    var userName = '<div class="loginHeaderUserName"><strong>' + response + '</strong></div>';
                    var logoutButton = '<div style="float:right;"><input class="btn btn-default" type="button" onclick="logOut()" value="Log out" /></div>';
                    $("#indexHeader").html(userName + logoutButton);
                    $("#savedPlaylistsContainer").removeClass("displayNone");
                    $("#savedPlaylistsContainer").addClass("displayBlock");
                    $("#listItem_saveNewPlaylist").removeClass("displayNone");
                    $("#listItem_savePlaylist").removeClass("displayNone");
                    retrieveUserPlaylists();
                } else {
                    $("#loginErrorMessage").html("Invalid login information");
                }
            }
        });

        return false;// if it's a link to prevent post
    }
</script>
